<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="SLF4J" />
        <setting name="callSettersOnNulls" value="true"/>    <!-- 返回空字段 -->
        <setting name="logPrefix" value="dao."/>
    </settings>
    <!--<plugins>-->
        <!--不同对象的拦截器顺序-->
        <!--Executor (update, query, flushStatements, commit, rollback,-->
        <!--getTransaction, close, isClosed)-->
        <!--ParameterHandler (getParameterObject, setParameters)-->
        <!--ResultSetHandler (handleResultSets, handleOutputParameters)-->
        <!--StatementHandler (prepare, parameterize, batch, update, query)-->
        <!--同一个拦截对象的顺序按照plugins顺序-->

        <!--StatementHandler-->
        <!--Executor-->
        <!--<plugin interceptor="com.joyintech.jupiter.service.data.CustomDataIntercepter"/>-->

        <!--<plugin interceptor="com.joyintech.mybatis.locker.interceptor.OptimisticLocker">-->
            <!--<property name="versionColumn" value="VERSION_NO"/>-->
            <!--<property name="versionField" value="versionNo"/>-->
        <!--</plugin>-->

        <!--Executor 已自动配置-->
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor"/>-->

    <!--</plugins>-->
</configuration>

