<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinda.wx.wxmanager.dao.StudentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinda.wx.wxmanager.entity.Student">
        <id column="wx_sid" property="wxSid" />
        <result column="wx_sname" property="wxSname" />
        <result column="wx_sex" property="wxSex" />
        <result column="tm_createtime" property="tmCreatetime" />
        <result column="tm_updatetime" property="tmUpdatetime" />
        <result column="tm_effectflag" property="tmEffectflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wx_sid, wx_sname, wx_sex, tm_createtime, tm_updatetime, tm_effectflag
    </sql>

</mapper>
